<% (jobs || []).each do |job| %>
  <tr>
    <%# If a 'from' local was passed (e.g. from: 'dashboard'), include it in the job link so the show page can decide where Back should go %>
    <td>
      <% if local_assigns[:from].present? %>
        <%= link_to job.title, job_path(job, from: local_assigns[:from]) %>
      <% else %>
        <%= link_to job.title, job_path(job) %>
      <% end %>
    </td>
  <td><%= job.company ? link_to(job.company.name, company_path(job.company)) : '' %></td>
    <td>
      <%= form_with model: job, url: update_status_job_path(job), method: :patch, local: true do |f| %>
        <div class="d-flex align-items-center gap-2">
          <%= f.select :status, Job.statuses.keys.map { |s| [s.titleize, s] },
            { selected: job.status },
            { class: 'form-select form-select-sm' } %>

          <%# Use the new custom class here %>
          <%= f.submit "Update", class: 'btn btn-custom-status-update' %>
        </div>
      <% end %>
    </td>     

    <td><%= job.deadline %></td>
    <td>
      <%= link_to 'Edit', edit_job_path(job, from: local_assigns[:from]) %>|
      <%= button_to 'Delete', job_path(job), method: :delete, data: { confirm: 'Are you sure?' }, form: { class: 'd-inline' }, class: 'btn btn-link p-0' %>
    </td>
  </tr>
<% end %>
