<% (jobs || []).each do |job| %>
  <tr>
    <%# If a 'from' local was passed (e.g. from: 'dashboard'), include it in the job link so the show page can decide where Back should go %>
    <td>
      <% if local_assigns[:from].present? %>
        <%= link_to job.title, job_path(job, from: local_assigns[:from]) %>
      <% else %>
        <%= link_to job.title, job_path(job) %>
      <% end %>
    </td>
  <td><%= job.company ? link_to(job.company.name, company_path(job.company)) : '' %></td>
    <td><%= job.status %></td>
    <td><%= job.deadline %></td>
    <td>
      <%= link_to 'Edit', edit_job_path(job) %> |
      <%= button_to 'Delete', job_path(job), method: :delete, data: { confirm: 'Are you sure?' }, form: { class: 'd-inline' }, class: 'btn btn-link p-0' %>
    </td>
  </tr>
<% end %>
