<h1>New Company</h1>

<%= form_with model: @company, local: true do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%# Preserve return_to so the create action can redirect back to new_job_path %>
    <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to].present? %>
  </div>
<% end %>

<%= if params[:return_to] == 'jobs_new'
      link_to 'Back', new_job_path
    else
      link_to 'Back', companies_path
    end %>
